.item {
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  padding: 16px;
  text-decoration: none;
}

.item:hover {
  background-color: #77287d;
}

.image {
  height: 180px;
  object-fit: cover;
  width: 100%;
}

.title {
  color: #fff;
  margin-bottom: 0;
  margin-top: 8px;
}

.price {
  color: #fff;
  font-weight: 500;
  margin-top: 4px;
}
